body{

    background-image: url("images/5570863.jpg");
    background-size: cover;}

#header{
text-align: center;
font-size: 60px;
font-family: 'Brush Script MT';
margin-top: 20px;
color:maroon;
text-shadow: 2px 2px 2px pink;
}

.images{
    text-align: center;
    margin-top: 5%;
}

img  {
    height: 150px;
    width: 180px;
    box-shadow: 10px 10px 5px 4px rgba(173, 216, 230, 0.365);

}

      .rad {
        display:inline-block; margin-right: 50px;
    }
      input[type=radio] {text-align:center;}
      label {display:block;  text-align:center;}
      